snippet p
	fmt.Println(${1})
snippet f
	fmt.Printf("${1}\n", ${2})
snippet ife
	if err != nil {
		${1}
	}
snippet s
	type ${1} struct {
		${2}
	}
snippet ttable
	func Test${1}(t *testing.T) {
		tests := []struct {
			desc        string
			expectedErr error
		}{
			{
				desc: "${2}",
			},
		}
	
		for _, tt := range tests {
			t.Run(tt.desc, func(t *testing.T) {
				${3}
			})
		}
	}
